.page-container {
  padding: 9.4rem 0 12.9rem 0;
}

.homepage-container {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}
.sidebar {
  width: 100%;
  max-width: 25.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}
.sidebar__one {
  /* min-height: 13.7rem ; */
  padding: 6.2rem 2.4rem 2.4rem 2.4rem;
  background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBtn {
  display: none;
  flex-shrink: 0;
}
.sidebar__one svg:hover,
.sidebar__one svg:focus {
  transform: scale(1.32);
}
.sidebar__one-textbox {
  color: white;
}
.sidebar__one-textbox .body2 {
  opacity: 0.75;
}
.sidebar__containment {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.sidebar__two {
  background: white;
  padding: 2.4rem;
  border-radius: 10px;
}
.tag-listing {
  display: flex;
  gap: 0.8rem;
  row-gap: 1.4rem;
  flex-wrap: wrap;
}
.sidebar__three {
  background: white;
  padding: 1.9rem 2.4rem 2.4rem 2.4rem;
  border-radius: 10px;
}
.sidebar__three-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
}
.sidebar__three-top .body3 {
  color: #4661e6;
}
.roadmap-listing1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.roadmap-listing1__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
  padding-left: 2.4rem;
  text-transform: capitalize;
  color: #647196;
}
.roadmap-listing1__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.roadmap-listing1__item.orange::before {
  background: #f49f85;
}
.roadmap-listing1__item.purple::before {
  background: #ad1fea;
}
.roadmap-listing1__item.skyblue::before {
  background: #62bcfa;
}
.roadmap-listing1__item p {
  margin: 0;
}

.roadmap-listing1__count {
  font-weight: 700;
}
.main {
  flex: 1;
}
.main-menu {
  background: #373f68;
  color: white;
  margin-bottom: 2.4rem;
  border-radius: 10px;
  padding: 1.4rem 1.6rem 1.4rem 2.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.8rem;
}
.main-menu__suggestion-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}
.main-menu__suggestion-box svg {
  width: 2.3rem;
  height: 2.4rem;
}
.main-menu__sortby-box {
  display: flex;
  align-items: center;
}
.main-menu__sortby-box p {
  margin: 0;
}
.main-menu__sortby-box svg {
  width: 8px;
  height: 4px;
}
.main-menu__sortby-box,
.sortBtn {
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(242, 244, 254, 0.75);
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.sortBtn {
  font-weight: 700;
}
.main-menu .button {
  margin-left: auto;
}
.feedback-listing {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.feedback-listing__item {
  background: #ffffff;
  border-radius: 10px;
  padding: 2.8rem 3.2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  gap: 4rem;
}

.upvoteBtn {
  color: #f2f4fe;
  background: #f2f4fe;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 1.4rem 0.9rem 0.8rem 0.9rem;
  align-self: flex-start;
}

.upvoteBtn svg {
  height: 4px;
  width: 8px;
}
.upvoteCount {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 700;
  letter-spacing: -0.180556px;
  color: #3a4374;
}
.upvoteBtn:focus,
.upvoteBtn:hover {
  background: #cfd7ff;
}
.upvoteBtn.clicked {
  background: #4661e6;
}
.upvoteBtn.clicked svg {
  background: #4661e6;
  fill: white;
}
.upvoteBtn.clicked .upvoteCount {
  color: white;
}
.feedback-listing__link {
  margin-bottom: 0.4rem;
  color: #3a4374;
  text-decoration: none;
  display: inline-block;
}
.feedback-listing__link:hover,
.feedback-listing__link:focus {
  text-decoration: underline;
  color: #4661e6;
}
.feedback-listing__desc {
  color: #647196;
  margin-bottom: 1.2rem;
}
.feedback-listing__comments {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
}
.feedback-listing__comments svg {
  height: 1.6rem;
  width: 1.8rem;
}
.commentsCounter {
  margin: 0;
  letter-spacing: -0.222222px;
  color: #3a4374;
  font-weight: 700;
}
.feedback-listing__comments:hover svg,
.feedback-listing__comments:focus svg {
  transform: translateX(-8px) scale(1.2);
}
