@media all and (max-width: 950px) {
  .container {
    padding: 0 4rem;
  }
  .homepage-container {
    flex-direction: column;
    gap: 4rem;
  }
  .sidebar {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.57rem;
  }
  .sidebar > * {
    flex: 1;
  }
  .main {
    width: 100%;
  }
}
@media all and (max-width: 690px) {
  .main-menu__suggestion-box {
    display: none;
  }
}
@media all and (max-width: 500px) {
  .container {
    padding: 0 2.44rem;
  }
  .feedback-listing__item {
    grid-template-columns: auto auto;
    gap: 1.6rem;
    padding: 2.4rem;
  }
  .feedback-listing__content {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .upvoteBtn {
    flex-direction: row;
    padding: 0.6rem 1.3rem 0.7rem 1.6rem;
    width: fit-content;
  }
  .feedback-listing__comments {
    justify-content: flex-end;
  }
}
