@media all and (max-width: 950px) {
  .page-container {
    padding: 5.6rem 0 11.3rem 0;
  }
  .container {
    padding: 0 4rem;
  }
  .homepage-container {
    flex-direction: column;
    gap: 4rem;
  }
  .sidebar {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.57rem;
  }
  .sidebar__one {
    width: 100%;
    max-width: 23.562rem;
  }
  .sidebar__containment {
    flex-direction: row;
    gap: 1.57rem;
  }
  .sidebar__containment > * {
    flex: 1;
  }
  .main {
    width: 100%;
  }
  .roadmap-container {
    padding: 5.6rem 0 9.5rem 0;
  }
  .roadmap-listing {
    gap: 1.6rem;
  }
}
@media all and (max-width: 830px) {
  .roadmap-main {
    margin-top: 0;
  }
  .roadmap-header .container {
    padding: 0;
  }
  .roadmap-header__wrapper {
    border-radius: 0;
  }
  .roadmap-tab-btns {
    display: flex;
    margin-bottom: 2.4rem;
  }
  .roadmap-list-container[data-expander-target] {
    display: none;
  }

  .roadmap-list-container.active {
    display: block;
  }
}
@media all and (max-width: 690px) {
  .page-container {
    padding: 0 0 5.5rem 0;
  }
  .homepage-container {
    padding: 0;
    gap: 0;
  }
  .sidebar__one {
    border-radius: 0;
  }
  .sidebar-overlay {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .sidebar-overlay.active {
    display: block;
  }
  .sidebar__containment {
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 27.1rem;
    background: #f7f8fd;
    padding: 2.4rem;
    position: absolute;
    right: 0;
  }
  .sidebar__containment > * {
    flex: initial;
  }
  .sidebar__one {
    padding: 1.6rem 2.4rem;
    max-width: 100%;
  }
  .menuBtn {
    display: flex;
  }
  .menuBtn__hambubger {
    display: flex;
  }
  .menuBtn__close {
    display: none;
  }
  .main {
    border-radius: 0;
  }
  .main-menu {
    border-radius: 0;
  }
  .main-menu__suggestion-box {
    display: none;
  }
  .feedback-listing {
    padding: 0 2.4rem;
  }
}
@media all and (max-width: 500px) {
  .feedback-listing__item {
    grid-template-columns: auto auto;
    gap: 1.6rem;
    padding: 2.4rem;
  }
  .feedback-listing__content {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .upvoteBtn {
    flex-direction: row;
    padding: 0.6rem 1.3rem 0.7rem 1.6rem;
    width: fit-content;
  }
  .feedback-listing__comments {
    justify-content: flex-end;
  }
  .roadmap-container {
    padding: 0 0 9.8rem 0;
  }
}
