.roadmap-container {
  padding: 7.8rem 0 17.9rem 0;
}
.roadmap-header {
}
.roadmap-header__wrapper {
  background: #373f68;
  border-radius: 10px;
  padding: 2.7rem 4rem 2.7rem 3.2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.roadmap-header__one {
}
.roadmap-header__one h1 {
  margin-top: 4px;
}
.roadmap-header__one .go-back {
  color: white;
}
